@use "../../styles/lib/layout.scss";
@use "../../styles/lib/typo.scss";
@use "../../styles/lib/colors.scss";

.app-about {
    padding: layout.$padding-l;
    font-size: typo.$font-size-l;
    background-color: colors.$info;
}